# ESLint Ignore
# https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

**/.nyc/*
**/coverage/*
**/node_modules/*

.yarn/*
packages/*/build/
packages/*/cjs/*
packages/*/esm/*
packages/*/types/*

!packages/src/types/*
!**/.*.*
