# ESLint Ignore
# https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

**/coverage/*
**/node_modules/*

.yarn/*
packages/*/build/
packages/*/cjs/*
packages/*/esm/*
packages/*/types/*

**/CHANGELOG.md

!packages/src/types/*
