# Prettier Ignore
# See: https://prettier.io/docs/en/ignore.html

**/.nyc/*
**/coverage/*
**/node_modules/*
.husky/_/*
.yarn/*
packages/*/build/*
packages/*/cjs/*
packages/*/esm/*
packages/*/types/*

**/CHANGELOG.md

**/.eslintignore
**/.env.*
**/.env
**/.gitconfig
**/.gitignore
**/.gitkeep
**/.prettierignore
**/*.markdownlintignore
yarn.lock

!packages/src/types/*
